@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html *{
	font-family: 'Poppins', sans-serif;
}

.bmenu{
    padding: 0px;
    margin: 30px 0 20px 0;
    position: relative;
}
.bmenu li{
    font-size: 15px;
    display: block;
}
.bmenu li a{
	display: block;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 20px;
	margin: 2px;
	background-color:#000;
	letter-spacing: 1px;
	border-radius:4px;
}
.bmenu:hover li a{
	color: #236f13;
}
.bmenu li a:hover{
	margin-left:10px;
	border-radius:0px;
}