@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('reset.css');

html *{
	font-family: 'Poppins', sans-serif;
}

body{
	margin-left:auto;
	margin-right:auto;
	background-color: #f2f2f2;
	background-repeat: repeat, no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-size: auto, cover;
	color: #000;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 20px;
}

.container{
	position:relative;
	background: #f2f2f2;
}

a{
	color: #236F13FF;
	text-decoration: none;
}

.clr{
	clear: both;
}

h1{
	margin:0px;
	padding:20px;
	font-size:42px;
	color:#000;
	text-align:left;
	font-weight:400;
}

h1 span{
	font-size:22px;
	color:#000;
	padding-top:10px;
}

.header{
	width: 100%;
	height: 80px;}

.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 50px;
	font-size: 15px;
	background: #000;
	opacity: 0.8;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
}

.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #f2f2f2;
	display: block;
	float: left;
}

.header a:hover{
	color: #3ab520;
}

.header span.right{
	float: right;
}

.header span.right a{
	float: none;
	display: inline;
}

.lcontent{
	position: relative;
	width:12%;
	margin: 0px 5px;
	float:left;
	opacity:0.8;
	padding-bottom:100px;
}

.lcontent:hover {
	position: relative;
	width:12%;
	margin: 0px 5px;
	float:left;
	opacity:0.8;
	padding-bottom:100px;
}

.rcontent{
	position:relative;
	width:84%;
	margin:0px 5px;
	float:left;
	overflow:auto;
	padding-bottom:100px;
}

#contentbox{
	width:90%;
	height: 400px;
	margin: 20px;
	background-color:#FFFFFF;
	border-radius:10px;
	-moz-border-radius: 15px;
	opacity: 0.8;
	overflow: auto;
}

#contentbox a{
	color: #236f13;
}

.mcontent{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#data{
	padding:10px;
}

.footer {
	text-align: center;
	width: 100%;
	height: 100px;
	color: #30971a;
	font-size: 15px;
	opacity: 0.8;
	z-index: 9999;
	background: #000;
	clear: both;
}

#itemList{
	width:100%;
}

#itemList a{
	color: #3ab520;
}

#itemList a:hover{
	color: #3ab520;
	text-decoration:underline;
}

#itemList th,td{
	padding:5px;
	text-align:center;
}

#itemList tr:nth-child(even){
	background-color: #CCC;
}

#itemList tr:nth-child(odd){
	background-color:#FFF;
}