@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html *{
	font-family: 'Poppins', sans-serif;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

input{
	border:1px solid #236f13;
	padding:3px 5px 4px;
	color: #000;
	width:190px;
	border-radius: 5px;
}

input:hover {
	color: #000;
}

input[type=submit],[type=button] {
    width: 100%;
    padding: 8px 5px;
    background: #236f13;
    border-radius: 5px;
    border: 1px solid #30971a;
    cursor: pointer;

    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
    border:0;
}

h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

input[type=text],input[type=password],input[list],input[type=date],select {
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #236f13;
    background: rgba(0,0,0,0.15);
    border-radius: 2px;

    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 13px;
}

input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
}

input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
}

input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
}

input[type=text]:hover,
input[type=password]:hover {
    border-color: #333;
}

.no-boxshadow  input[type=text]:focus,
.no-boxshadow input[type=password]:focus {
    outline: 1px solid white;
}